@charset "UTF-8";
body, header {
  font-family: 'League Spartan',"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  color: #222222;
}

.c-header {
  padding: 20px 0 20px;
}

@media screen and (min-width: 835px) {
  .c-header {
    padding: 20px 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.c-header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-header__line {
  width: 30px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 835px) {
  .c-header__line {
    width: 47px;
  }
}

.c-header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-header-nav__list > *:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 835px) {
  .c-header-nav__list > *:not(:last-child) {
    margin-right: 20px;
  }
}

.c-header-nav__list-login {
  position: relative;
}

.c-header-nav__list-login .sub {
  position: absolute;
  width: 150px;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  bottom: 0px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

@media screen and (min-width: 835px) {
  .c-header-nav__list-login .sub {
    width: 200px;
    font-size: 15px;
  }
}

.c-header-nav__list-login .sub > *:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.c-header-nav__list-login .sub__item {
  width: 100%;
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.85);
  display: block;
}

@media screen and (min-width: 835px) {
  .c-header-nav__list-login .sub__item {
    padding: 12px 18px;
  }
}

.c-header-nav__item {
  font-size: 13px;
  padding: 5px 0;
  display: inline-block;
}

@media screen and (min-width: 835px) {
  .c-header-nav__item {
    font-size: 15px;
    padding: 10px 0;
  }
}

.c-header-nav__item:hover {
  color: #AB9F66;
}

.c-header-nav__item:hover + .sub {
  display: block;
}

.c-header-nav__item + .sub {
  display: none;
}

.c-header-nav__item + .sub:hover {
  display: block;
}

.c-header-tel {
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 835px) {
  .c-header-tel {
    margin-right: 20px;
  }
}

.c-header-tel__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-header-tel__num img {
  width: 15px;
  margin-right: 5px;
}

@media screen and (min-width: 835px) {
  .c-header-tel__num img {
    width: 18px;
    margin-right: 5px;
  }
}

.c-header-tel__num p {
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
}

@media screen and (min-width: 835px) {
  .c-header-tel__num p {
    font-size: 22px;
    padding-top: 5px;
  }
}

.c-header-tel__fax {
  font-size: 10px;
  color: #555555;
}

@media screen and (min-width: 835px) {
  .c-header-tel__fax {
    font-size: 11px;
  }
}

.c-header-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 20px;
  background-color: #aca068;
  border-radius: 3px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 835px) {
  .c-header-contact {
    padding: 14px 20px;
  }
}

.c-header-contact img {
  width: 10px;
}

@media screen and (min-width: 835px) {
  .c-header-contact img {
    width: 18px;
  }
}

.c-header-contact p {
  font-weight: bold;
  margin-left: 5px;
  font-size: 12px;
  color: #fff;
  padding-top: 3px;
}

@media screen and (min-width: 835px) {
  .c-header-contact p {
    font-size: 14px;
  }
}

.l-inner--lv0 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.l-inner--lv2 {
  width: 95%;
  margin: 0 auto;
}

@media screen and (min-width: 835px) {
  .l-inner--lv2 {
    width: 80%;
    max-width: 1150px;
  }
}

.l-inner--lv1 {
  width: 95%;
  margin: 0 auto;
}

@media screen and (min-width: 835px) {
  .l-inner--lv1 {
    width: 90%;
    max-width: 1290px;
  }
}

.c-section-button {
  width: 216px;
  padding: 15px 0;
  text-align: center;
  border-bottom: 2px solid #222;
  position: relative;
  display: block;
}

@media screen and (min-width: 835px) {
  .c-section-button {
    width: 346px;
    padding: 30px 0;
  }
}

.c-section-button::after {
  content: url("../image/common/arrow--black.svg");
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-section-title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  position: relative;
}

@media screen and (min-width: 835px) {
  .c-section-title {
    font-size: 35px;
    padding-bottom: 20px;
  }
}

.c-section-title .en {
  display: block;
  color: #AB9F66;
  font-size: 0.514em;
  margin-bottom: 15px;
  font-weight: initial;
}

.c-section-title::after {
  position: absolute;
  z-index: 0;
  font-size: 50px;
  color: rgba(171, 159, 102, 0.1);
  white-space: nowrap;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (min-width: 835px) {
  .c-section-title::after {
    font-size: 130px;
    bottom: -30px;
  }
}

.fv {
  border-bottom: 1px solid #EFEFEF;
  padding: 20px 0 30px 0;
}

@media screen and (min-width: 835px) {
  .fv {
    padding: 30px 0 70px 0;
  }
}

.fv__image {
  width: 100%;
}

@media screen and (min-width: 835px) {
  .fv__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 835px) {
  .fv-item {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 835px) {
  .fv-item:nth-child(1) {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 835px) {
  .fv-item:nth-child(2) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.fv-item:not(:first-child) {
  margin-top: 30px;
}

@media screen and (min-width: 835px) {
  .fv-item:not(:first-child) {
    margin: 0;
  }
}

.fv-item__text {
  text-align: center;
  font-size: 13px;
}

@media screen and (min-width: 835px) {
  .fv-item__text {
    width: 50%;
    font-size: 15px;
    margin-right: 10px;
  }
}

.fv-item__button {
  display: block;
  padding: 10px 0 10px;
  border-bottom: 2px solid #222222;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  position: relative;
  width: 60%;
  margin: 0 auto;
}

@media screen and (min-width: 835px) {
  .fv-item__button {
    padding: 30px 0;
    width: 50%;
    font-size: 18px;
  }
}

.fv-item__button::after {
  content: url("../image/common/arrow--black.svg");
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.convention {
  padding: 42px 0 38px;
}

@media screen and (min-width: 835px) {
  .convention {
    padding: 55px 0 50px;
  }
}

.convention__title {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

@media screen and (min-width: 835px) {
  .convention__title {
    font-size: 18px;
  }
}

.convention__list {
  margin-top: 30px;
}

@media screen and (min-width: 835px) {
  .convention__list {
    margin-top: 40px;
  }
}

.convention-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 835px) {
  .convention-list {
    display: initial;
  }
}

.convention-list__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 48%;
}

@media screen and (min-width: 835px) {
  .convention-list__row {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.convention-list__row {
  margin-top: 20px;
}

.convention-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 11px;
  width: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.convention-list__item:not(:first-child) {
  margin-top: 10px;
}

@media screen and (min-width: 835px) {
  .convention-list__item {
    font-size: 15px;
    min-height: 88px;
    text-align: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
}

.convention-list__month {
  background-color: rgba(111, 103, 67, 0.05);
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-size: 24px;
  color: #6F6743;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

@media screen and (min-width: 835px) {
  .convention-list__month {
    width: 22%;
    max-width: 300px;
    padding: 0;
  }
}

@media screen and (min-width: 835px) {
  .convention-list__dead {
    padding-top: 20px;
    width: 18%;
  }
}

@media screen and (min-width: 835px) {
  .convention-list__preview {
    padding-top: 20px;
    width: 17%;
  }
}

@media screen and (min-width: 835px) {
  .convention-list__tender {
    width: 15%;
    padding-top: 20px;
  }
}

.convention-list__login {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #AB9F66;
  font-size: 16px;
  color: #fff;
  position: relative;
  padding: 15px 0;
  width: 100%;
}

@media screen and (min-width: 835px) {
  .convention-list__login {
    max-width: 378px;
    width: 23%;
    height: 76px;
  }
}

.convention-list__login::after {
  content: url("../image/common/arrow--white.svg");
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.convention-list__login:hover {
  background-color: #5A5437;
}

#about {
  padding-bottom: 40px;
  overflow: hidden;
}

@media screen and (min-width: 835px) {
  #about {
    padding-bottom: 74px;
  }
}

.about__image {
  width: 100%;
}

.about__mark {
  width: 1px;
  height: 60px;
  background-color: #A99F6D;
  position: absolute;
  top: -35px;
  left: 50%;
}

@media screen and (min-width: 835px) {
  .about__mark {
    height: 100px;
    top: -55px;
  }
}

.about__block {
  background-color: #fff;
  position: relative;
  padding: 60px 0 45px 0;
  -webkit-box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.04);
          box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.04);
  margin-top: -50px;
}

@media screen and (min-width: 835px) {
  .about__block {
    margin-top: -150px;
    padding: 90px 0 85px 0;
  }
}

.about__block::after, .about__block::before {
  position: absolute;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
}

@media screen and (min-width: 835px) {
  .about__block::after, .about__block::before {
    -webkit-transform: initial;
            transform: initial;
  }
}

.about__block::after {
  content: url("../image/about/image-02.png");
  top: -20px;
  left: -30px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

@media screen and (min-width: 835px) {
  .about__block::after {
    top: -50px;
    left: 30px;
    -webkit-transform-origin: initial;
            transform-origin: initial;
  }
}

.about__block:before {
  content: url("../image/about/image-03.png");
  bottom: -40px;
  right: -25px;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

@media screen and (min-width: 835px) {
  .about__block:before {
    bottom: -74px;
    right: 50px;
    -webkit-transform-origin: initial;
            transform-origin: initial;
  }
}

.about__title::after {
  content: "About APRE?";
}

.about__text {
  width: 90%;
  margin: 20px auto 0 auto;
  font-size: 13px;
  line-height: 1.7;
}

@media screen and (min-width: 835px) {
  .about__text {
    width: 70%;
    font-size: 15px;
  }
}

.about__button {
  margin: 15px auto 0 auto;
}

@media screen and (min-width: 835px) {
  .about__button {
    margin: 30px auto 0 auto;
  }
}

.feature {
  padding: 32px 0 50px;
}

@media screen and (min-width: 835px) {
  .feature {
    padding: 64px 0 100px;
  }
}

.feature__title::after {
  content: "Feature";
}

.feature__list {
  margin-top: 64px;
}

.feature-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 4px 5px;
}

@media screen and (min-width: 835px) {
  .feature-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.feature-list__item {
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.04);
          box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 835px) {
  .feature-list__item {
    height: 446px;
  }
}

.feature-list__num {
  color: #AB9F66;
  font-size: 15px;
  position: absolute;
  top: 10px;
  left: 24px;
}

@media screen and (min-width: 835px) {
  .feature-list__num {
    font-size: 20px;
    top: 30px;
  }
}

.feature-list__image {
  width: 40%;
}

@media screen and (min-width: 835px) {
  .feature-list__image {
    width: initial;
  }
}

.feature-list__text {
  text-align: center;
  font-size: 13px;
  margin-top: 36px;
}

@media screen and (min-width: 835px) {
  .feature-list__text {
    font-size: 20px;
  }
}

.product {
  background-color: #FBFAF7;
  padding: 68px 0 68px;
}

@media screen and (min-width: 835px) {
  .product {
    padding: 96px 0 136px;
  }
}

.product input {
  display: none;
}

.product__block {
  margin-top: 30px;
}

@media screen and (min-width: 835px) {
  .product__block {
    margin-top: 50px;
  }
}

.product-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 835px) {
  .product-nav {
    padding: 0 30px;
  }
}

.product-nav__item {
  padding: 15px 0;
  width: 30%;
  color: #B7B4A4;
  border-bottom: 1.4px solid #D8D4C7;
  font-size: 16px;
}

@media screen and (min-width: 835px) {
  .product-nav__item {
    font-size: 22px;
    padding: 30px 0;
  }
}

#product-brand:checked ~ .product-nav .product-nav__item-brand,
#product-watch:checked ~ .product-nav .product-nav__item-watch,
#product-jewelry:checked ~ .product-nav .product-nav__item-jewelry {
  color: #222222;
  border-bottom: 1.4px solid #222;
  font-weight: bold;
}

.product-contents {
  height: 0;
  opacity: 0;
}

.product-contents__block {
  position: relative;
  z-index: 0;
  padding: 0 15px;
}

@media screen and (min-width: 835px) {
  .product-contents__block {
    padding: 0 30px;
  }
}

.product-contents__button {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #AB9F66;
  border-radius: 50%;
  z-index: 10;
}

@media screen and (min-width: 835px) {
  .product-contents__button {
    width: 56px;
    height: 56px;
  }
}

.product-contents__button-prev {
  top: 50%;
  left: -5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 835px) {
  .product-contents__button-prev {
    left: 0;
  }
}

.product-contents__button-prev::after {
  content: url("../image/product/arrow--prev.svg");
  position: absolute;
  top: 50%;
  left: 9px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 835px) {
  .product-contents__button-prev::after {
    left: 22px;
  }
}

.product-contents__button-next {
  top: 50%;
  right: -5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 835px) {
  .product-contents__button-next {
    right: 0;
  }
}

.product-contents__button-next::after {
  content: url("../image/product/arrow--next.svg");
  position: absolute;
  top: 50%;
  right: 9px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 835px) {
  .product-contents__button-next::after {
    right: 22px;
  }
}

.product-contents__participate {
  margin-top: 40px;
}

@media screen and (min-width: 835px) {
  .product-contents__participate {
    margin-top: 86px;
  }
}

/*選択されているタブのコンテンツのみを表示*/
#product-brand:checked ~ .product-contents#product__brand,
#product-watch:checked ~ .product-contents#product__watch,
#product-jewelry:checked ~ .product-contents#product__jewelry {
  height: auto;
  margin-top: 30px;
  opacity: 1;
}

@media screen and (min-width: 835px) {
  #product-brand:checked ~ .product-contents#product__brand,
  #product-watch:checked ~ .product-contents#product__watch,
  #product-jewelry:checked ~ .product-contents#product__jewelry {
    margin-top: 60px;
  }
}

.product-contents-item__block {
  width: 98%;
  background-color: #fff;
  padding: 30px 10px 30px 10px;
  height: 300px;
}

@media screen and (min-width: 835px) {
  .product-contents-item__block {
    height: 400px;
    padding: 30px 26px 0 26px;
  }
}

.product-contents-item__image {
  margin: 0 auto;
  width: 60%;
}

@media screen and (min-width: 835px) {
  .product-contents-item__image {
    width: 100%;
  }
}

.product-contents-item__text {
  margin-top: 16px;
  font-size: 16px;
}

@media screen and (min-width: 835px) {
  .product-contents-item__text {
    margin-top: 30px;
  }
}

.product-participate {
  padding: 0 15px;
}

@media screen and (min-width: 835px) {
  .product-participate {
    padding: 0 30px;
  }
}

.product-participate__title {
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #D8D4C7;
}

@media screen and (min-width: 835px) {
  .product-participate__title {
    font-size: 22px;
    padding-bottom: 44px;
  }
}

.product-participate-list {
  margin: 20px auto 0;
  width: 90%;
}

@media screen and (min-width: 835px) {
  .product-participate-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 94%;
    margin: 46px auto 0;
  }
}

.product-participate-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media screen and (min-width: 835px) {
  .product-participate-list__item {
    width: 32%;
  }
}

.product-participate-list__item:not(:first-child) {
  margin-top: 10px;
}

@media screen and (min-width: 835px) {
  .product-participate-list__item:not(:first-child) {
    margin-top: 0;
  }
}

@media screen and (min-width: 835px) {
  .product-participate-list__item > *:not(:last-child) {
    margin-right: 5px;
  }
}

.product-participate-list__login {
  font-size: 14px;
  color: #fff;
  padding: 12px 10px;
  background-color: #AB9F66;
}

.product-participate-list__login:hover {
  background-color: #5A5437;
}

.price {
  padding: 50px 0 40px;
}

@media screen and (min-width: 835px) {
  .price {
    padding: 110px 0 100px;
  }
}

.price__list {
  margin-top: 28px;
}

@media screen and (min-width: 835px) {
  .price__list {
    margin-top: 36px;
  }
}

.price__list-text {
  font-size: 13px;
  margin-top: 13px;
}

@media screen and (min-width: 835px) {
  .price__list-text {
    margin-top: 26px;
  }
}

.price-pre-contents {
  width: 100%;
  margin: 40px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 835px) {
  .price-pre-contents {
    width: 660px;
    margin: 72px auto 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.price-pre-contents__image {
  width: 30%;
  max-width: 130px;
  margin-right: 10px;
}

@media screen and (min-width: 835px) {
  .price-pre-contents__image {
    width: initial;
    margin-right: 0;
    max-width: initial;
  }
}

.price-pre-contents__block > * {
  border-bottom: 1px solid #D8D4C4;
  padding: 0 0px 14px 0px;
}

@media screen and (min-width: 835px) {
  .price-pre-contents__block > * {
    padding: 0 10px 28px 10px;
  }
}

.price-pre-contents__title {
  color: #AB9F66;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (min-width: 835px) {
  .price-pre-contents__title {
    font-size: 34px;
  }
}

.price-pre-contents__text {
  padding-top: 14px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 835px) {
  .price-pre-contents__text {
    font-size: 25px;
    padding-top: 27px;
  }
}

.price-pre-contents__text-sub {
  font-weight: initial;
  font-size: 0.64em;
  display: block;
  margin-top: 7px;
}

@media screen and (min-width: 835px) {
  .price-pre-contents__text-sub {
    margin-top: 14px;
  }
}

.price-list {
  display: -ms-grid;
  display: grid;
  gap: 6px 8px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 835px) {
  .price-list {
    gap: 6px 8px;
    -ms-grid-rows: (1fr)[4];
    -ms-grid-columns: (1fr)[4];
        grid-template: repeat(4, 1fr)/repeat(4, 1fr);
  }
}

.price-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

@media screen and (min-width: 835px) {
  .price-list__item {
    height: 124px;
    padding: 0px;
    height: 124px;
  }
}

.price-list__item p {
  font-size: 13px;
  position: relative;
  font-weight: bold;
}

@media screen and (min-width: 835px) {
  .price-list__item p {
    font-size: 20px;
  }
}

.price-list__item p span {
  position: absolute;
  font-weight: initial;
  bottom: -1em;
  color: #333333;
  font-size: 0.3em;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(100%);
          transform: translateX(-50%) translateY(100%);
  white-space: nowrap;
}

@media screen and (min-width: 835px) {
  .price-list__item p span {
    font-size: 0.65em;
    white-space: nowrap;
    bottom: -.5em;
  }
}

.price-list__item:not(.price-list__item-title) {
  background-color: #FAFAF7;
  height: 120px;
}

.price-list__item:not(.price-list__item-title) p {
  color: #AB9F66;
}

.price-list__item-title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  background-color: #F7F5EC;
  height: 80px;
}

@media screen and (min-width: 835px) {
  .price-list__item-title {
    height: auto;
    -ms-grid-column: initial;
        grid-column-start: initial;
    grid-column-end: initial;
  }
}

.price-list__item-title p {
  color: #817746;
}

.step {
  background-color: #FBFAF7;
  padding: 50px 0 60px 0;
}

@media screen and (min-width: 835px) {
  .step {
    padding: 110px 0 120px 0;
  }
}

.step__list {
  margin-top: 30px;
}

@media screen and (min-width: 835px) {
  .step__list {
    margin-top: 70px;
  }
}

.step__button {
  margin: 30px auto 0;
}

.step-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.step-list__item {
  width: 50%;
}

@media screen and (min-width: 835px) {
  .step-list__item {
    width: 160px;
    margin-bottom: 30px;
  }
}

.step-list__item:not(:last-child) {
  margin-bottom: 20px;
  position: relative;
}

@media screen and (min-width: 835px) {
  .step-list__item:not(:last-child) {
    margin-bottom: 0px;
    width: 220px;
    padding-right: 60px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 835px) {
  .step-list__item:not(:last-child)::after {
    position: absolute;
    content: url("../image/common/arrow--brown.svg");
    top: 130px;
    right: 0;
  }
}

.step-list__num {
  font-size: 24px;
  color: #AB9F66;
  text-align: center;
}

.step-list__image {
  text-align: center;
  margin: 10px auto 0 auto;
  width: 60%;
  -webkit-filter: drop-shadow(30px 30px 30px rgba(0, 0, 0, 0.04));
          filter: drop-shadow(30px 30px 30px rgba(0, 0, 0, 0.04));
}

@media screen and (min-width: 835px) {
  .step-list__image {
    margin-top: 30px;
    width: 100%;
  }
}

.step-list__text {
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
}

@media screen and (min-width: 835px) {
  .step-list__text {
    font-size: 22px;
    margin-top: 30px;
  }
}
/*# sourceMappingURL=style.css.map */