.price{
  
  padding: 50px 0 40px;
  @include mq('desktop'){
      padding: 110px 0 100px;
  }
  &__list{
    margin-top: 28px;
    @include mq('desktop'){
      margin-top: 36px;
    }
    &-text{
      font-size: 13px;
      margin-top: 13px;
      @include mq('desktop'){
        margin-top: 26px;
      }
    }
  }
}